/* css code */

.header{
    position: fixed;
}
.carousel-item active img{
    position: absolute;
    object-fit:cover;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 572px;
    background:rgba(0,0,0,0.7);
}

    /*hover-action-items*/

.action-items:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Movie-name*/
.movie-name{
    text-align: left;
}

/*btn*/
.button.movie-btn{
    margin-right: 10px;
    background-color: red; 
}

/*cards-img*/
.{
    width:600px;
    height:700px;
}

